
<main class="main">
  <div class="content">
    
    <nav class="top-toolbar">
      <div class="top-toolbar-label-container">
        <label class="app-title">Sports Book <span style="display: block; padding-left: 22px;">Betting</span></label>
        
        <label class="top-toolbar-label" (click)="getUserBets()">My Bets</label>
      </div>
      <div class="top-toolbar-login-signup-container" *ngIf="!(currentUser$ | async); else loggedInLinks">
        <button class="login-btn" (click)="openModal(true)">Login</button>
        <button class="signup-btn" (click)="openModal(false)">Sign Up</button>
      </div>
    </nav>

    <ng-template #loggedInLinks>
      <div *ngIf="currentUser$ | async as user" class="top-toolbar-login-signup-container">
        <button class="logout-btn" (click)="logout()">Logout</button>
        <span class="user-balance">Balance: ${{ user.balance | number:'1.2-2' }}</span>
      </div>
    </ng-template>

    <div class="popup-overlay" *ngIf="isUserBetsModalOpen" (click)="closeBets()">
      <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeBets()">×</button>
        
        <app-user-bets [userBets]="userBets"></app-user-bets>
      </div>
    </div>

    <ng-container *ngIf="isModalOpen">
      <app-signup 
        [isLoginMode]="startInLoginMode" 
        (closeModal)="isModalOpen = false"
        (userLoggedIn)="handleLogin($event)">
      </app-signup>
    </ng-container>

    <nav class="sports-toolbar">
      <button 
        *ngFor="let league of leagues" 
        [ngClass]="league === selectedLeague ? 'selected-btn' : 'league-btn'"
        (click)="onLeagueClick(league)">
        {{ league }}
      </button>
    </nav>

    <div class="layout-container">
      <div class="game-card-container" *ngIf="displayCards">
        <div class="column-box">
          <div class="teams">
            <h3 class="league-column-header">{{ selectedLeague }} Odds</h3>
          </div>
          <div class="bets">
            <h2 class="column-header">Spread</h2>
            <h2 class="column-header">Moneyline</h2>
          </div>
        </div>

        <div class="game-card" *ngFor="let game of games()">
          <div class="card-body">

            <!-- LEFT SIDE (TEAMS) -->
            <div class="teams">
              <div class="team away" style="color:#1781ea">{{ game.awayTeam }}</div>

              <div class="at-row">
                <span>@</span>
                <div class="line"></div>
              </div>

              <div class="team home" style="color:#1781ea">{{ game.homeTeam }}</div>
            </div>

            <!-- RIGHT SIDE (BETTING GRID) -->
            <div class="bets">

              <!-- SPREAD COLUMN -->
              <div class="bet-column">
                <button 
                  *ngIf="game.away_team_spread != null && game.away_team_spread_price != null" 
                  class="bet-btn" (click)="openBetSlip()"
                  (click)="addBet({
                  team: game.awayTeam,
                  type: 'spread',
                  spread: game.away_team_spread,
                  price: game.away_team_spread_price,
                  game: game
                  })">
                  {{ game.away_team_spread }} 
                  <span>{{ game.away_team_spread_price }}</span>
                </button>

                <button *ngIf="game.home_team_spread != null && game.home_team_spread_price != null" class="bet-btn" 
                  (click)="addBet({
                    team: game.homeTeam,
                    type: 'spread',
                    spread: game.home_team_spread,
                    price: game.home_team_spread_price,
                    game: game
                  })">
                  {{ game.home_team_spread }} 
                  <span>{{ game.home_team_spread_price }}</span>
                </button>
              </div>

              <!-- MONEYLINE COLUMN -->
              <div class="bet-column">
                <button 
                *ngIf="game.away_team_price != null" 
                class="bet-btn"
                style="margin-top: 5px;" 
                (click)="addBet({
                  team: game.awayTeam,
                  type: 'moneyline',
                  price: game.away_team_price,
                  game: game
                })">
                  {{ game.away_team_price }}
                </button>

                <button 
                  *ngIf="game.home_team_price != null" 
                  class="bet-btn" 
                  style="margin-top: 15px;" 
                  (click)="addBet({
                    team: game.homeTeam,
                    type: 'moneyline',
                    price: game.home_team_price,
                    game: game
                  })">
                  {{ game.home_team_price }}
                </button>
              </div>
            </div>
          </div>
          <div class="card-header">
              <span class="time">{{ game.commence_time | date: 'MMMM d h:mm' }}</span>
              <span class="book">{{ game.bookmaker_name }}</span>
          </div>
        </div>
      </div>
      <app-bet-slip
        [bets]="bets"
        [currentUser]="currentUser$"
        (userUpdate)="currentUser$ = $event">
      </app-bet-slip>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
